<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-us" xml:lang="en-us" >
<head>
<title>Change project | Django site admin</title>
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/simple_docs.css" />
<!--link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css" /-->
<!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="/static/admin/css/ie.css" /><![endif]-->

<meta name="robots" content="NONE,NOARCHIVE" />
</head>
<body>
<div id="container">


{% block content %}
{% endblock %}
<div id="footer">
	<a href="{% url project_list %}">project list</a>
	&nbsp;|&nbsp; <a href="http://www.mcb.harvard.edu">Molecular &amp; Cellular Biology</a>
    &nbsp;&nbsp; ({% now "F jS, Y f:s a" %})
</div>

</div>

</body>
</html>
