{% extends "base.html" %}
{% load project_extras %}
{% block content %}

<div id="header_content">
<h1><span class="h1_plain">project docs:</span> {{ p.name }}</h1>
</div>

<div id="main_content">
    &gt; <a href="index.html">back to project list</a>


<h2>Purpose</h2>
<div class="indent1">{{ p.purpose|linebreaks|safe }}</div>

{% if p.url or p.has_project_links %}
<h2>Link(s)</h2>
<ul>
	{% if p.url %}<li><a href="{{ p.url }}" target="_blank">{{ p.url }}</a></li>{% endif %}
	{% for pl in p.get_project_links %}
		<li>{{ pl.name }}: <a href="{{ pl.url }}" target="_blank">{{ pl.url }}</a></li>
	{% endfor %}
</ul>
{% endif %}

{% if p.description %}
<h2>Description</h2>
<div class="indent1">{{ p.description|mail_links|safe|linebreaks }}</div>
{% endif %}


{% if p.has_project_docs %}
<h2>Project Doc{{ p.get_project_docs|pluralize }}</h2>
<ul>
	{% for pd in p.get_project_docs %}
		<li>{{ pd.name }}: <a href="{{ pd.doc.name }}" target="_blank">{{ pd.doc.name }}</a></li>
	{% endfor %}
</ul>
{% endif %}


<h2>Contacts</h2>
<div class="indent1">{{ p.contacts|mail_links|safe|linebreaks }}</div>

{% if p.servers.count > 0 %}
<h2>Servers</h2>
<p><ul>
	{% for s in p.servers.all %}
	<li><b>{{ s.name }}</b>
		{% if s.url %} &#151; <a href="{{ s.url }}">{{ s.url }}</a>{% endif %}
		{% if s.short_description %}<p>{{ s.short_description|mail_links|safe|linebreaks  }}</p>{% endif %}
		
		</li>
	{% endfor %}
</ul></p>
{% endif %}

{% if p.authentication.count > 0 %}
<h2>Authentication</h2>
<p><ul>
	{% for auth in p.authentication.all %}
	<li><b>{{ auth.name }}</b>
		{% if auth.url %} &#151; <a href="{{ auth.url }}">{{ auth.url }}</a>{% endif %}
		{% if auth.description %}<p>{{ auth.description|mail_links|safe|linebreaks  }}</p>{% endif %}
		</li>
{% endfor %}
</ul></p>
{% endif %}

{% if p.codebase %}
<h2>Codebase</h2>
<div class="indent1">{{ p.codebase|linebreaks|safe }}</div>
{% endif %}

{% if p.related_projects.count > 0 %}
<h2>Related Projects</h2>
<p><ul>
{% for rl in p.related_projects.all %}
	<li><a href="{{ rl.get_html_filename }}">{{ rl.name }}</a></li>
{% endfor %}
</ul>
</p>
{% endif %}

{% if p.tags.count > 0 %}
<h2>Tags</h2>
<div class="indent1">{% for t in p.tags.all %}
	{{ t }} &nbsp;
{% endfor %}
</div>
{% endif %}
</div>
{% endblock %}


{% block footer %}
<div id="footer">
	<a href="index.html">project list</a>
	&nbsp;|&nbsp; <a href="http://www.mcb.harvard.edu">Molecular &amp; Cellular Biology</a>
    &nbsp;&nbsp; ({% now "F jS, Y f:s a" %})
</div>
{% endblock %}